header {
    border-bottom: 1px solid black;
    padding: 0;
}

a:hover {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

a.logo {
    font-weight: 700;
    padding: 1em;
}

nav ul li { 
    display: inline;
    padding: 1em;
}


