<header>
    <div class="container">
        <a class="logo" routerLink="/">CryptoApp</a>
        <nav>
            <ul>
                <li *ngIf="!isAuthenticated()"><a routerLink="register">Register</a></li>
                <li *ngIf="!isAuthenticated()"><a routerLink="login">Login</a></li>
                <li *ngIf="isAdmin()"><a routerLink="admin">Admin Page</a></li>
                <li *ngIf="isAuthenticated()"><a routerLink="profile">Profile</a></li>
                <li *ngIf="isAuthenticated()"><a (click)="logout()">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>