<div class="container" [ngClass]="{'expanded': isExpanded}" *ngIf="isAuthenticated">
    <div class="panel-title">
        <div class="title">Alerts</div>
        <div class="chevron-icon" (click)="togglePanel()">
            <i *ngIf="!isExpanded" class="fa-solid fa-chevron-up"></i>
            <i *ngIf="isExpanded" class="fa-solid fa-chevron-down"></i>
        </div>
    </div> 
    <div class="alerts" *ngIf="isExpanded">
        <div class="form-container">
            <div class="response-error" *ngIf="errorResponse.length != 0">
                <small class="error-message">{{errorResponse}}</small>
            </div>
            <form [formGroup]="alertForm" (ngSubmit)="onSumbit()">
                <div class="form-groups">
                    <div class="form-group">
                        <label for="symbol">Symbol</label>
                        <input type="text" id="symbol" formControlName="symbol">
                        <small *ngIf="symbol.invalid && (symbol.dirty || symbol.touched)">
                            <div *ngIf="symbol.errors?.['required']">Coin symbol is required</div>
                            <div *ngIf="symbol.errors?.['maxlength']">Coin symbol is too long</div>
                            <div *ngIf="symbol.errors?.['minlength']">Coin symbol is too short</div>
                        </small>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" id="price" step="0.1" min="0" formControlName="price">
                        <small *ngIf="price.invalid && (price.dirty || price.touched)">
                            <div *ngIf="price.errors?.['required']">Price is required</div>
                            <div *ngIf="price.errors?.['min']">Price is too small</div>
                        </small>
                    </div>
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
        <ul *ngIf="alerts.length != 0">
            <li *ngFor="let alert of alerts">
                <div class="symbol">{{ alert.symbol }}</div>
                <div class="price">{{alert.alertPrice | dynamicCurrencyPrecision}}</div>
                <div class="delete"(click)="deleteAlert(alert.id)">
                    <i class="fa-solid fa-trash"></i>
                </div>
            </li>
        </ul>
    </div>
</div>