label {
    font-size: 0.9rem;
    opacity: 0.7;
}

.container {
    display: flex;
    flex-direction: column;
}

.coin-wrapper {
    padding: 0.5rem;
}

.name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coin-name {
    font-weight: bold;
}

.info {
    margin-top: 0.5rem;
    background-color: #e0e0e0;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}
