<div class="container">
    <div *ngFor="let coin of coinDataArray()" class="coin-wrapper">
        <div class="name-price">
            <div class="coin-name">{{coin[0]}}:</div>
            <div class="coin-price">{{coin[1] | currency:'USD':'symbol': '1.3'}}</div>
        </div>
        <div class="info" *ngIf="coinsQuantity.length != 0">
            <div class="quantity">
                <div class="quantity-name">Quantity:</div>
                <div>{{getCoinQuantity(coin[0])}}</div>
            </div>
            <div class="total-coin-value">
                <div class="total-coin-value-name">Total Coin Value:</div>
                <div>
                    {{countTotalCoinValue(getCoinQuantity(coin[0]), coin[1]) | currency:'USD':'symbol':'1.1'}}
                </div>
            </div>
        </div>
    </div>
</div>