.container {
    display: flex;
    flex-direction: column;
}

.coin-wrapper {
    padding: 0.5rem;
}

.name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coin-name {
    font-weight: bold;
}

.info {
    margin-top: 0.5rem;
    background-color: #e0e0e0;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    display: flex;
}

.quantity-name {
    margin-right: 0.5rem;
}

.total-coin-value-name, .quantity-name {
    font-weight: bold;
}

.total-coin-value {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

