input {
    height: 2.5rem;
    font-size: 1.1rem;
    margin-bottom: 0.2em;
}

form {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

label {
    font-size: 1rem;
    padding: 0.5rem 0;
    font-weight: 700;
}

button {
    width: 8rem;
    height: 2rem;
    margin: 1rem auto;
    background-color: white;
    text-decoration: none;    
    font-size: 1rem;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.register {
    margin-top: 0.5rem;
}