<div class="container">

    <form [formGroup]="postForm">
        <textarea id="content" formControlName="content" placeholder="Write something..."></textarea>
        <div class="btn-wrapper">
            <button type="submit" [disabled]="postForm.invalid" (click)="addPost()">Submit</button>
        </div>
    </form>
    <div class="posts">
        <div class="post" *ngFor="let post of posts">
            <div class="info">
                <div class="author">{{ post.author }}</div>
                <div class="time-added">{{ post.timeAdded | date: 'medium'}}</div>
            </div>
            <div class="content">
                <a routerLink="post/{{post.id}}">
                    <p>{{post.content}}</p>
                </a>
            </div>
        </div>  
        <div class="navigation">
            <div><button [disabled]="!canGetPreviousPage()" (click)="previousPage()">Previous</button></div>
            <div><button [disabled]="!canGetNextPage()" (click)="nextPage()">Next</button></div>
        </div>
    </div>
</div>