button {
    border-radius: 0.7rem;
    text-decoration: none;
    padding: 0.4rem;
    font-size: 0.95rem;
    border: none;
}

button :hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

.pagination {
    display: flex;
    justify-content: space-between;
}