p {
    margin: 0;
}

h3 {
    margin: 0;
    font-weight: 600;
}

h4 {
    margin: 1rem 0 0 0;
}

button {
    background-color: #e0e0e0;
    font-weight: 600;
    border: none;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    border-radius: 60%;
    padding: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

label {
    margin: 0 0.5rem 0.3rem 0;
}

input {
    margin-right: 0.5rem;
}

form {
    padding-top: 1.5rem;
    display: flex;
}

form div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form label {
    font-size: 0.9rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2rem auto;
}

.account-info {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: whitesmoke;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
}

.user-icon {
    display: inline-block;
    font-size: 4rem;
    padding-right: 5rem;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.details-elem-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 0;
}

.details-desc {
    font-weight: 400;
    font-size: 0.9rem;
}

.details-elem {
    font-size: 1.2rem;
    font-weight: 600;
}

.line {
    border: 1px solid black;
}

.wallet-stats-container {
    display: flex;
}

.wallet-stats-container .wallet-stats:last-child {
    padding-right: 2rem;
}

.wallet-stats {
    display: flex;
    align-items: center;
}

.wallet-stats > div > p {
    font-size: 2rem;
    font-weight: 600;
}

.wallet-stats-label {
    font-size: 0.8rem;
}

.icon  {
    padding: 2rem;
    font-size: 4rem;
}

.error-message {
    position: absolute;
}

.add-coin-form {
    display: flex;
    justify-content: center;
}

.user-coins {
    padding: 0rem 2rem 1rem 2rem;
}

.coins {
    width: 50%;
    margin: 1rem auto;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 80%;
}

.blurred {
    filter: blur(1px);
}