p {
    margin: 0;
}

h3 {
    margin: 0;
    font-weight: 600;
    padding: 1rem 0;
}

h4 {
    margin: 0;
}

button {
    background-color: #e0e0e0;
    font-weight: 600;
    border: none;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
    padding: 0.4rem;
    color: black;
}

button:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

label {
    margin-right: 0.5rem
}

input {
    margin-right: 0.5rem;
}

form {
    padding-top: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2rem auto;
}

.account-info {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: whitesmoke;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
}

.icon {
    display: inline-block;
    font-size: 4rem;
    padding-right: 5rem;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.details-elem-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 0;
}

.details-desc {
    font-weight: 400;
    font-size: 0.9rem;
}

.details-elem {
    font-size: 1.2rem;
    font-weight: 600;
}

.line {
    border: 1px solid black;
}

.wallet-value {
    display: flex;
    align-items: center;
}

.wallet-value > div > p {
    font-size: 2rem;
    font-weight: 600;
}

.wallet-icon {
    padding: 2rem;
    font-size: 4rem;
}

.error-message {
    position: absolute;
}

.add-coin-form {
    display: flex;
    justify-content: center;
}

.user-coins {
    padding: 0rem 2rem 1rem 2rem;
}

.coins {
    width: 50%;
    margin: 1rem auto;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 70%;
}