<div class="container">
    <div class="account-info">
        <div class="icon">
            <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="details" *ngIf="user">
            <div class="details-elem-wrapper">
                <p class="details-desc">username</p>
                <p class="details-elem">{{user.username}}</p>
            </div>
            <div class="line"></div>
            <div class="details-elem-wrapper">
                <p class="details-desc">email</p>
                <p class="details-elem">{{user.email}}</p>
            </div>
            <div class="line"></div>
            <div class="details-elem-wrapper">
                <p class="details-desc">roles</p>
                <p class="details-elem">{{user.roles.toString().toLowerCase()}}</p>
            </div>
        </div>
    </div>
    <div class="wallet-value">
        <div class="wallet-icon">
            <i class="fa-solid fa-wallet"></i>
        </div>
        <div>
            <p>{{ totalCoinsValue | currency:'USD':'symbol':'1.3'}}</p>
        </div>
    </div>
    <div class="user-coins">
        <h3>Your coins</h3>
        <div class="add-coin-form">
            <small *ngIf="coinFormErrorResponse.length != 0" class="error-message">{{coinFormErrorResponse}}</small>
            <small *ngIf="symbol.invalid && (symbol.dirty || symbol.touched)" class="error-message">
                <div *ngIf="symbol.errors?.['alreadyHaveCoin']">
                    You already have this coin
                </div>
            </small>
            <form [formGroup]="coinForm">
                <label for="symbol">Symbol:</label> 
                <input id="symbol" type="text" formControlName="symbol">

                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" formControlName="quantity" min="0">
                <button type="submit" [disabled]="coinForm.invalid" (click)="onSubmit()">Add coin</button>
            </form>
        </div>
        <div class="coins">
            <app-price-tracker [coinsFilter]="getUserCoinsNames()" [filtered]="true"
             [coinsQuantity]="userCoins" (totalCoinsPriceEmitter)="getTotalCoinsPrice($event)"></app-price-tracker>
        </div>
    </div>
</div>