@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Glegoo:wght@400;700&display=swap");
*{
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}