form {
    display: flex;
    flex-direction: column;
    width: 30em;
}

label {
    padding: 0.5em 0;
    font-weight: 700;
}

input {
    height: 2em;
}

button {
    width: 8em;
    height: 2em;
    margin: 1em auto;
}

.container {
    padding: 2em;
    display: flex;
    justify-content: center;
}


